<section class="bg-faded" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="modal-body">
                    <h2>{{vacancy.title}}</h2>
                    <p class="item-intro text-muted">{{vacancy.organizationName}}</p>
                    <h2 class="item-intro text-muted">{{vacancy.salary}} 
                        <span *ngIf="vacancy.currencyType == 0">EUR</span>
                        <span *ngIf="vacancy.currencyType == 1">RUB</span>
                        <span *ngIf="vacancy.currencyType == 2">USD</span>
                    </h2>
                    <article class="job_article" innerHTML="{{vacancy.description}}"></article>
                    <ul class="list-inline">
                        <li>Город: {{vacancy.city}}</li>
                        <li>Занятость: 
                            <span *ngIf="vacancy.workingCondition == 0">Contract</span>
                            <span *ngIf="vacancy.workingCondition == 1">Freelance</span>
                            <span *ngIf="vacancy.workingCondition == 2">Full Time</span>
                            <span *ngIf="vacancy.workingCondition == 3">Part Time</span>
                        </li>
                        <li>Дата публикации: {{vacancy.date | date: 'dd-MM-yyyy HH:mm'}}</li>
                        <li>Контактное лицо: {{vacancy.contactPartner}}</li>
                        <li>Email: <a href="{{vacancy.companyURL}}">{{vacancy.email}}</a></li>
                    </ul>
                    <a routerLink="/vacancies" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Назад</a>
                </div>
            </div>
        </div>
    </div>
</section>