<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/vacancies">BOSTIL .Net</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            Меню
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/vacancies">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/events">События</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/aboutProject">О проекте</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contacts">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
